language: android
sudo: required
jdk: oraclejdk8

before_cache:
-rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
-rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
directories:
-$HOME/.gradle/caches/
-$HOME/.gradle/wrapper/

env:
global:
- ANDROID_API=28
- EMULATOR_API=26
- ANDROID_BUILD_TOOLS=28.0.1
- ADB_INSTALL_TIMEOUT=5 # minutes

android:
components:
- tools
- platform-tools
- build-tools-$ANDROID_BUILD_TOOLS
- android-$ANDROID_API
- extra-google-m2repository
- extra-android-m2repository # for design library
- sys-img-armeabi-v7a-addon-google_apis-google-$ANDROID_API_LEVEL
licenses:
- android-sdk-preview-license-.+
- android-sdk-license-.+
- google-gdk-license-.+

before_install:
- yes | sdkmanager "platforms;android-27"
- yes | sdkmanager "platforms;android-28"